examples/Demo_Dashboard.json
[
    {
        "id": "342b690c66a49a1f",
        "type": "tab",
        "label": "Geyserwala Connect [dashboard]",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "426f6d2cfa6f581a",
        "type": "group",
        "z": "342b690c66a49a1f",
        "name": "Manual",
        "style": {
            "label": true,
            "fill": "#bfdbef",
            "fill-opacity": "0.5"
        },
        "nodes": [
            "333081cee8d5a8e2",
            "d9298ac91820ff63",
            "4ae8c3665001f199",
            "4053bcadb088d843",
            "b593f261c5d5512d",
            "cad4f2f6b5739a4e",
            "54060bb928b2c470",
            "722985e975525da0",
            "5bc9b1b86a61efb2",
            "7d4c7fe9eccbec97",
            "7d60d88d4dd76836",
            "4def969791c09e83",
            "e0d6f670e7b417d9",
            "c9c28c0a5003d2fa",
            "bcad36c6a02c193e"
        ],
        "x": 34,
        "y": 759,
        "w": 892,
        "h": 362
    },
    {
        "id": "a295d5b28a06dc5b",
        "type": "group",
        "z": "342b690c66a49a1f",
        "name": "Automation",
        "style": {
            "label": true,
            "fill": "#bfdbef",
            "fill-opacity": "0.5"
        },
        "nodes": [
            "4428c8e39e339619",
            "c2d2c4bb0957bee2",
            "dc3d5a52771f4e89",
            "d1a39b3c0883a466",
            "46623cae5907e837",
            "72da46aef9d08ecb",
            "7cd36f80c05870f8",
            "e9b8430f5597469b",
            "e5d5f46380175be6",
            "6d56c063d96db256",
            "8eb8e4b31a8fea94",
            "539e86d6a8fa761b",
            "6f4ba77ed2c002fd",
            "38a6c9613261e7a0",
            "d26af93414f3e809",
            "a2d2172ca7366012"
        ],
        "x": 28,
        "y": 379,
        "w": 978,
        "h": 362
    },
    {
        "id": "24a4e95ec2b29bde",
        "type": "group",
        "z": "342b690c66a49a1f",
        "name": "Status",
        "style": {
            "label": true,
            "fill": "#bfdbef",
            "fill-opacity": "0.5"
        },
        "nodes": [
            "ec73a53a3d4dcd1a",
            "3348c19155990b8d",
            "b4767375b92bdd57",
            "750c5d181752e102",
            "7d99d17546632c01",
            "102aa69255cc662b",
            "593a7f19403fa30a",
            "ced61d8e62aeae2c",
            "23b2cd1a659ff5d0",
            "2a999929b83e8c2b",
            "e467e6a4c46b9e33",
            "4e474389ca05f767"
        ],
        "x": 454,
        "y": 19,
        "w": 552,
        "h": 342
    },
    {
        "id": "38a6c9613261e7a0",
        "type": "group",
        "z": "342b690c66a49a1f",
        "g": "a295d5b28a06dc5b",
        "name": "Defaults to 86400 / 0",
        "style": {
            "label": true,
            "fill": "#d1d1d1",
            "fill-opacity": "0.31"
        },
        "nodes": [
            "d84684fefa8a073b",
            "957f7cb62cf89b47",
            "92c8e6b762422f54",
            "a6c24a42a63c26e3"
        ],
        "x": 54,
        "y": 459,
        "w": 172,
        "h": 222
    },
    {
        "id": "ec73a53a3d4dcd1a",
        "type": "geyserwala-connect-tank-temp",
        "z": "342b690c66a49a1f",
        "g": "24a4e95ec2b29bde",
        "name": "Tank Temp",
        "geyserwalaApi": "11149d0082218c50",
        "x": 580,
        "y": 120,
        "wires": [
            [
                "7d99d17546632c01",
                "ced61d8e62aeae2c",
                "4e474389ca05f767"
            ]
        ]
    },
    {
        "id": "3348c19155990b8d",
        "type": "geyserwala-connect-element-demand",
        "z": "342b690c66a49a1f",
        "g": "24a4e95ec2b29bde",
        "name": "Element Demand",
        "geyserwalaApi": "11149d0082218c50",
        "x": 560,
        "y": 160,
        "wires": [
            [
                "7d99d17546632c01",
                "23b2cd1a659ff5d0"
            ]
        ]
    },
    {
        "id": "b4767375b92bdd57",
        "type": "geyserwala-connect-collector-temp",
        "z": "342b690c66a49a1f",
        "g": "24a4e95ec2b29bde",
        "name": "Collector Temp",
        "geyserwalaApi": "11149d0082218c50",
        "x": 560,
        "y": 220,
        "wires": [
            [
                "7d99d17546632c01",
                "e467e6a4c46b9e33",
                "4e474389ca05f767"
            ]
        ]
    },
    {
        "id": "750c5d181752e102",
        "type": "geyserwala-connect-pump-status",
        "z": "342b690c66a49a1f",
        "g": "24a4e95ec2b29bde",
        "name": "Pump Status",
        "geyserwalaApi": "11149d0082218c50",
        "x": 570,
        "y": 260,
        "wires": [
            [
                "7d99d17546632c01",
                "2a999929b83e8c2b"
            ]
        ]
    },
    {
        "id": "7d99d17546632c01",
        "type": "debug",
        "z": "342b690c66a49a1f",
        "g": "24a4e95ec2b29bde",
        "name": "geyserwala.status",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 790,
        "y": 320,
        "wires": []
    },
    {
        "id": "4428c8e39e339619",
        "type": "geyserwala-connect-external-demand",
        "z": "342b690c66a49a1f",
        "g": "a295d5b28a06dc5b",
        "name": "External Demand",
        "geyserwalaApi": "11149d0082218c50",
        "x": 570,
        "y": 520,
        "wires": [
            [
                "7cd36f80c05870f8",
                "d26af93414f3e809"
            ]
        ]
    },
    {
        "id": "c2d2c4bb0957bee2",
        "type": "geyserwala-connect-external-setpoint",
        "z": "342b690c66a49a1f",
        "g": "a295d5b28a06dc5b",
        "name": "External Setpoint",
        "geyserwalaApi": "11149d0082218c50",
        "x": 570,
        "y": 420,
        "wires": [
            [
                "7cd36f80c05870f8",
                "6f4ba77ed2c002fd"
            ]
        ]
    },
    {
        "id": "d9298ac91820ff63",
        "type": "geyserwala-connect-mode",
        "z": "342b690c66a49a1f",
        "g": "426f6d2cfa6f581a",
        "name": "Mode",
        "geyserwalaApi": "11149d0082218c50",
        "x": 610,
        "y": 800,
        "wires": [
            [
                "cad4f2f6b5739a4e",
                "bcad36c6a02c193e"
            ]
        ]
    },
    {
        "id": "4ae8c3665001f199",
        "type": "geyserwala-connect-setpoint",
        "z": "342b690c66a49a1f",
        "g": "426f6d2cfa6f581a",
        "name": "Setpoint",
        "geyserwalaApi": "11149d0082218c50",
        "x": 600,
        "y": 900,
        "wires": [
            [
                "cad4f2f6b5739a4e",
                "e0d6f670e7b417d9"
            ]
        ]
    },
    {
        "id": "4053bcadb088d843",
        "type": "geyserwala-connect-boost-demand",
        "z": "342b690c66a49a1f",
        "g": "426f6d2cfa6f581a",
        "name": "Boost Demand",
        "geyserwalaApi": "11149d0082218c50",
        "x": 580,
        "y": 1000,
        "wires": [
            [
                "cad4f2f6b5739a4e",
                "c9c28c0a5003d2fa"
            ]
        ]
    },
    {
        "id": "dc3d5a52771f4e89",
        "type": "inject",
        "z": "342b690c66a49a1f",
        "g": "a295d5b28a06dc5b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "21600",
        "payloadType": "num",
        "x": 330,
        "y": 640,
        "wires": [
            [
                "e9b8430f5597469b"
            ]
        ]
    },
    {
        "id": "d1a39b3c0883a466",
        "type": "inject",
        "z": "342b690c66a49a1f",
        "g": "a295d5b28a06dc5b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 330,
        "y": 680,
        "wires": [
            [
                "e9b8430f5597469b"
            ]
        ]
    },
    {
        "id": "d84684fefa8a073b",
        "type": "inject",
        "z": "342b690c66a49a1f",
        "g": "38a6c9613261e7a0",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 150,
        "y": 500,
        "wires": [
            [
                "4428c8e39e339619"
            ]
        ]
    },
    {
        "id": "957f7cb62cf89b47",
        "type": "inject",
        "z": "342b690c66a49a1f",
        "g": "38a6c9613261e7a0",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "x": 150,
        "y": 540,
        "wires": [
            [
                "4428c8e39e339619"
            ]
        ]
    },
    {
        "id": "46623cae5907e837",
        "type": "inject",
        "z": "342b690c66a49a1f",
        "g": "a295d5b28a06dc5b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "35",
        "payloadType": "num",
        "x": 330,
        "y": 420,
        "wires": [
            [
                "c2d2c4bb0957bee2"
            ]
        ]
    },
    {
        "id": "72da46aef9d08ecb",
        "type": "inject",
        "z": "342b690c66a49a1f",
        "g": "a295d5b28a06dc5b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "60",
        "payloadType": "num",
        "x": 330,
        "y": 460,
        "wires": [
            [
                "c2d2c4bb0957bee2"
            ]
        ]
    },
    {
        "id": "333081cee8d5a8e2",
        "type": "inject",
        "z": "342b690c66a49a1f",
        "g": "426f6d2cfa6f581a",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "SOLAR",
        "payloadType": "str",
        "x": 330,
        "y": 840,
        "wires": [
            [
                "d9298ac91820ff63"
            ]
        ]
    },
    {
        "id": "b593f261c5d5512d",
        "type": "inject",
        "z": "342b690c66a49a1f",
        "g": "426f6d2cfa6f581a",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "TIMER",
        "payloadType": "str",
        "x": 330,
        "y": 800,
        "wires": [
            [
                "d9298ac91820ff63"
            ]
        ]
    },
    {
        "id": "7cd36f80c05870f8",
        "type": "debug",
        "z": "342b690c66a49a1f",
        "g": "a295d5b28a06dc5b",
        "name": "geyserwala.automation",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 810,
        "y": 700,
        "wires": []
    },
    {
        "id": "cad4f2f6b5739a4e",
        "type": "debug",
        "z": "342b690c66a49a1f",
        "g": "426f6d2cfa6f581a",
        "name": "geyserwala.manual",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 790,
        "y": 1080,
        "wires": []
    },
    {
        "id": "54060bb928b2c470",
        "type": "inject",
        "z": "342b690c66a49a1f",
        "g": "426f6d2cfa6f581a",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "48",
        "payloadType": "num",
        "x": 330,
        "y": 940,
        "wires": [
            [
                "4ae8c3665001f199"
            ]
        ]
    },
    {
        "id": "722985e975525da0",
        "type": "inject",
        "z": "342b690c66a49a1f",
        "g": "426f6d2cfa6f581a",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "55",
        "payloadType": "num",
        "x": 330,
        "y": 980,
        "wires": [
            [
                "4ae8c3665001f199"
            ]
        ]
    },
    {
        "id": "5bc9b1b86a61efb2",
        "type": "inject",
        "z": "342b690c66a49a1f",
        "g": "426f6d2cfa6f581a",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 330,
        "y": 1040,
        "wires": [
            [
                "4053bcadb088d843"
            ]
        ]
    },
    {
        "id": "7d4c7fe9eccbec97",
        "type": "inject",
        "z": "342b690c66a49a1f",
        "g": "426f6d2cfa6f581a",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "x": 330,
        "y": 1080,
        "wires": [
            [
                "4053bcadb088d843"
            ]
        ]
    },
    {
        "id": "102aa69255cc662b",
        "type": "geyserwala-connect-status",
        "z": "342b690c66a49a1f",
        "g": "24a4e95ec2b29bde",
        "name": "Status",
        "geyserwalaApi": "11149d0082218c50",
        "x": 590,
        "y": 60,
        "wires": [
            [
                "7d99d17546632c01",
                "593a7f19403fa30a"
            ]
        ]
    },
    {
        "id": "e9b8430f5597469b",
        "type": "geyserwala-connect-external-disable",
        "z": "342b690c66a49a1f",
        "g": "a295d5b28a06dc5b",
        "name": "External Disable",
        "geyserwalaApi": "11149d0082218c50",
        "x": 580,
        "y": 620,
        "wires": [
            [
                "7cd36f80c05870f8",
                "a2d2172ca7366012"
            ]
        ]
    },
    {
        "id": "92c8e6b762422f54",
        "type": "inject",
        "z": "342b690c66a49a1f",
        "g": "38a6c9613261e7a0",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 150,
        "y": 600,
        "wires": [
            [
                "e9b8430f5597469b"
            ]
        ]
    },
    {
        "id": "a6c24a42a63c26e3",
        "type": "inject",
        "z": "342b690c66a49a1f",
        "g": "38a6c9613261e7a0",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "x": 150,
        "y": 640,
        "wires": [
            [
                "e9b8430f5597469b"
            ]
        ]
    },
    {
        "id": "e5d5f46380175be6",
        "type": "inject",
        "z": "342b690c66a49a1f",
        "g": "a295d5b28a06dc5b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "3600",
        "payloadType": "num",
        "x": 330,
        "y": 540,
        "wires": [
            [
                "4428c8e39e339619"
            ]
        ]
    },
    {
        "id": "6d56c063d96db256",
        "type": "inject",
        "z": "342b690c66a49a1f",
        "g": "a295d5b28a06dc5b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 330,
        "y": 580,
        "wires": [
            [
                "4428c8e39e339619"
            ]
        ]
    },
    {
        "id": "7d60d88d4dd76836",
        "type": "inject",
        "z": "342b690c66a49a1f",
        "g": "426f6d2cfa6f581a",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "STANDBY",
        "payloadType": "str",
        "x": 140,
        "y": 840,
        "wires": [
            [
                "d9298ac91820ff63"
            ]
        ]
    },
    {
        "id": "4def969791c09e83",
        "type": "inject",
        "z": "342b690c66a49a1f",
        "g": "426f6d2cfa6f581a",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "HOLIDAY",
        "payloadType": "str",
        "x": 340,
        "y": 880,
        "wires": [
            [
                "d9298ac91820ff63"
            ]
        ]
    },
    {
        "id": "593a7f19403fa30a",
        "type": "ui_text",
        "z": "342b690c66a49a1f",
        "g": "24a4e95ec2b29bde",
        "group": "371765cc99203bae",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Status",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 770,
        "y": 60,
        "wires": []
    },
    {
        "id": "ced61d8e62aeae2c",
        "type": "ui_gauge",
        "z": "342b690c66a49a1f",
        "g": "24a4e95ec2b29bde",
        "name": "",
        "group": "371765cc99203bae",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Tank",
        "label": "°C",
        "format": "{{msg.payload}}",
        "min": 0,
        "max": "95",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 770,
        "y": 120,
        "wires": []
    },
    {
        "id": "23b2cd1a659ff5d0",
        "type": "ui_led",
        "z": "342b690c66a49a1f",
        "g": "24a4e95ec2b29bde",
        "order": 3,
        "group": "371765cc99203bae",
        "width": 0,
        "height": 0,
        "label": "Element",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#888888",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#ff0000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": false,
        "name": "Element",
        "x": 780,
        "y": 160,
        "wires": []
    },
    {
        "id": "e0d6f670e7b417d9",
        "type": "ui_slider",
        "z": "342b690c66a49a1f",
        "g": "426f6d2cfa6f581a",
        "name": "",
        "label": "Setpoint",
        "tooltip": "",
        "group": "d1233a563158db60",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": "35",
        "max": "65",
        "step": 1,
        "className": "",
        "x": 800,
        "y": 900,
        "wires": [
            [
                "4ae8c3665001f199"
            ]
        ]
    },
    {
        "id": "2a999929b83e8c2b",
        "type": "ui_led",
        "z": "342b690c66a49a1f",
        "g": "24a4e95ec2b29bde",
        "order": 5,
        "group": "371765cc99203bae",
        "width": "0",
        "height": "0",
        "label": "Pump",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#888888",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#0fe60f",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": false,
        "name": "Pump",
        "x": 770,
        "y": 260,
        "wires": []
    },
    {
        "id": "c9c28c0a5003d2fa",
        "type": "ui_switch",
        "z": "342b690c66a49a1f",
        "g": "426f6d2cfa6f581a",
        "name": "",
        "label": "Boost",
        "tooltip": "",
        "group": "d1233a563158db60",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "true",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 790,
        "y": 1000,
        "wires": [
            [
                "4053bcadb088d843"
            ]
        ]
    },
    {
        "id": "bcad36c6a02c193e",
        "type": "ui_dropdown",
        "z": "342b690c66a49a1f",
        "g": "426f6d2cfa6f581a",
        "name": "",
        "label": "Mode",
        "tooltip": "",
        "place": "Select option",
        "group": "d1233a563158db60",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "multiple": false,
        "options": [
            {
                "label": "HOLIDAY",
                "value": "HOLIDAY",
                "type": "str"
            },
            {
                "label": "STANDBY",
                "value": "STANDBY",
                "type": "str"
            },
            {
                "label": "SOLAR",
                "value": "SOLAR",
                "type": "str"
            },
            {
                "label": "TIMER",
                "value": "TIMER",
                "type": "str"
            },
            {
                "label": "SETPOINT",
                "value": "SETPOINT",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 790,
        "y": 800,
        "wires": [
            [
                "d9298ac91820ff63"
            ]
        ]
    },
    {
        "id": "8eb8e4b31a8fea94",
        "type": "ui_switch",
        "z": "342b690c66a49a1f",
        "g": "a295d5b28a06dc5b",
        "name": "",
        "label": "Ext Disable",
        "tooltip": "",
        "group": "222039cc150b0a07",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "true",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 910,
        "y": 620,
        "wires": [
            [
                "e9b8430f5597469b"
            ]
        ]
    },
    {
        "id": "539e86d6a8fa761b",
        "type": "ui_switch",
        "z": "342b690c66a49a1f",
        "g": "a295d5b28a06dc5b",
        "name": "",
        "label": "Ext Demand",
        "tooltip": "",
        "group": "222039cc150b0a07",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "true",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 910,
        "y": 520,
        "wires": [
            [
                "4428c8e39e339619"
            ]
        ]
    },
    {
        "id": "6f4ba77ed2c002fd",
        "type": "ui_slider",
        "z": "342b690c66a49a1f",
        "g": "a295d5b28a06dc5b",
        "name": "",
        "label": "Ext Setpoint",
        "tooltip": "",
        "group": "222039cc150b0a07",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": "35",
        "max": "75",
        "step": 1,
        "className": "",
        "x": 910,
        "y": 420,
        "wires": [
            [
                "c2d2c4bb0957bee2"
            ]
        ]
    },
    {
        "id": "e467e6a4c46b9e33",
        "type": "ui_text",
        "z": "342b690c66a49a1f",
        "g": "24a4e95ec2b29bde",
        "group": "371765cc99203bae",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "Collector",
        "label": "Collector",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 780,
        "y": 220,
        "wires": []
    },
    {
        "id": "4e474389ca05f767",
        "type": "ui_chart",
        "z": "342b690c66a49a1f",
        "g": "24a4e95ec2b29bde",
        "name": "Timeline",
        "group": "371765cc99203bae",
        "order": 5,
        "width": 0,
        "height": 0,
        "label": "Timeline",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "No Data",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "24",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#ff7f28",
            "#be27aa",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 920,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "d26af93414f3e809",
        "type": "function",
        "z": "342b690c66a49a1f",
        "g": "a295d5b28a06dc5b",
        "name": "bool",
        "func": "msg.payload = (msg.payload != 0)\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 750,
        "y": 520,
        "wires": [
            [
                "539e86d6a8fa761b"
            ]
        ]
    },
    {
        "id": "a2d2172ca7366012",
        "type": "function",
        "z": "342b690c66a49a1f",
        "g": "a295d5b28a06dc5b",
        "name": "bool",
        "func": "msg.payload = (msg.payload != 0)\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 750,
        "y": 620,
        "wires": [
            [
                "8eb8e4b31a8fea94"
            ]
        ]
    },
    {
        "id": "11149d0082218c50",
        "type": "geyserwala-connect-api",
        "name": "Geyserwala Connector",
        "api": "MQTT",
        "mqttBroker": "655be97ebf33d7ca",
        "mqttTopicTemplate": "geyserwala/%prefix%/%mac%",
        "mqttTopicMac": "08B61F74144C",
        "mqttTopicIp": "",
        "mqttTopicHostname": "",
        "restHost": "10.0.0.51",
        "restPort": "80",
        "restUser": "admin",
        "restPassword": "",
        "restPollInterval": "1"
    },
    {
        "id": "371765cc99203bae",
        "type": "ui_group",
        "name": "Status",
        "tab": "6f87adb2fe2c7522",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "d1233a563158db60",
        "type": "ui_group",
        "name": "Manual",
        "tab": "6f87adb2fe2c7522",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "222039cc150b0a07",
        "type": "ui_group",
        "name": "Automation",
        "tab": "6f87adb2fe2c7522",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "655be97ebf33d7ca",
        "type": "mqtt-broker",
        "name": "Geyserwala MQTT",
        "broker": "10.0.0.5",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "6f87adb2fe2c7522",
        "type": "ui_tab",
        "name": "Geyserwala",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]